#wrapper{
	width:890px;
	height: 40px;
	background-color: #808080;
	padding-bottom: 30px;

}

#header h1{
	display: inline-block;
	margin-left: 20px
}

#header h4{
	display: inline-block;
	margin-left: 300px;
}

#main{
	width:890px;
	height:1000px;
	background-color: #201014;
}

#main img{
	display:inline-block;
	vertical-align: top;
	margin-left: 20px;
	margin-top: 20px;
	border-style: solid;
	border-width: 6px;
	border-color: grey;
	height: 200px;
	width: 350px;
}

`#main #ABOUT {
	padding:20px 20px;
	width:929px;
	height:870px;
}

#main h4{
	display: inline-block;
	margin-left: 300px;
	padding: 5px 10px;
}
	


